p {
    font-family: Lato;
}

button {
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 30px;
}